body{
  text-align: center;
  background: linear-gradient(#FFCDD2 0%, #D50000 100%);
  }
#F{
  font-color: #6A1B9A;
  font-shadow: 2px 2px #6A1B9A; 
}
.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}
h1{
   font-color: #6A1B9A;
  font-shadow: 2px 2px #6A1B9A; 
}
img{
  width: 220px;
  border-radius: 50%;
  border-width: 100px;
  border-color: black; 
}
#line{
  height: 5px;
  background-color: black;
  width: 400px;
  margin-left: 550px;
  }
.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;

}
.links {
    float: left;
    color: red;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    background-color: palevioletred;
}
#img1{
    width: 220px;
}
#contact
{
background: firebrick;
}

#contact iframe
{
    width: 100%;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    color: white;
    text-shadow: none;
}